PORT=8000
# put your own neon/supabase postgresql db url
DATABASE_URL=postgresql://neondb_owner:asdfafasdfasdufhaduyi.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# developement/ testing
NODE_ENVIRONMENT=development